* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  position: relative;
}
.backImg {
  position: absolute;
  width: 120px;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1;
}

.gallery {
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.imgDiv {
  position: relative;
  width: calc(100% / 4);
  height: 300px;
  object-fit: cover;
}
.like_img {
  width: 100%;
  height: 100%;
  border: none;
}

.redLike {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  background-image: url(img/favorite.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.4s ease-in-out;
}
.redLike:hover {
  background-image: url(img/broken-heart.png);
}
.noImgText {
  width: 100%;
  height: 100vh;
  font-size: 44px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}
